.catalogue-configuration {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 4%;

    .variable-sizing {
        width: 33.3333333333%;
        height: 100%;
        font-size: 0.8rem;
    }

    .component-config,
    .layout-config,
    .color-config {
        
        max-height: 100vh;
        overflow-y:scroll;
        scrollbar-width: thin;
    }

    .config-head {
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }

    .btn-container {
        margin-top: 3rem;
        width: 55%;
    }

    .footnote {
        margin-top: 2rem;
        letter-spacing: -0.2px;
        font-size: 0.9rem;
    }

    .config-sub-head {
        font-size: 1.05rem;
    }

    .btn.--inactive {
        background-color: #D9D9D9;
        color: black;
    }

    .btn.--configuring {
        background-color: #05b65d;
    }

    .color-config {
        padding: 0 4%;
    }

    .layout-config {

        padding: 0 6%;

        .btn {
            margin: 1rem 0;
        }

        .layout-config-body {

            .body-list-drop-area {}
        }

    }

    .component-config {
        padding: 0 4%;
    }
}

@media only screen and (max-width:1500px) {
    .catalogue-configuration {
        .color-config {
            position: absolute;
            left: -50%;
            background-color:white;
            height: 100vh;
            margin: 0;
            top: 0;
            padding: 5%;
            transition: 0.7s;
            z-index: 2;
        }
        .--slide-right{
            transform: translateX(100%);
        }
        .variable-sizing {
            width: 50%;
        }

    }
}

@media only screen and (max-width:900px) {
    .catalogue-configuration {
        padding: 0;
        overflow-x: hidden;
        height: 100vh;
        width: 100vw;
        position: relative;
        .component-config {
            position: absolute;
            left: 100%;
            z-index: 1;
            background-color: white;
            padding: 5%;
            transition: 0.7s;
        }
        .color-config{
            left: -100%;
        }
        .layout-config{
           
            padding: 5%;
            z-index: 1;
            
        }
        .--slide-left{
            width: 100%;
            transform: translateX(-100%);
        }
        .variable-sizing {
            width: 100vw;
        }
        .config-head{
            margin-right: 8rem;
        }
    }
}