.catalogue-configuration{

    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 4%;
    .desktop-sizing{
        width: 33.3333333333%;
        height: 100%;
    }
    .component-config{
        background-color: black;
    }
    .config-head{
        margin-bottom: 2rem;
    }

    .desktop-sizing{
        font-size: 0.9rem;
    }
    .btn-container{
        margin-top: 3rem;
        width: 60%;
    }
    .footnote{
        margin-top: 2rem;
        width: 60%;
        font-size: 0.9rem;
    }
    .config-sub-head{
        font-size: 1.1rem;
    }
    .btn.--inactive{
        background-color: #D9D9D9;
        color: black;
    }

    .layout-config{

        padding:0 4%;
        .btn{
            margin:1rem 0;
        }
    }
}